<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Wishes</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"><h1>The Birthday Base</h1></a>
        </li>
        <li><a href="{{ url_for('home')}}">Home</a></li>

        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        <li>
          <a href="{{ url_for('bdaysfollowing') }}">Birthdays Following</a>
        </li>
        <form action="{{ url_for('search') }}" method="get">
          <input
            type="text"
            name="username"
            placeholder="Search for a username..."
          />
          <input type="submit" value="Search" />
        </form>
      </ul>
      <img
        class="logo"
        src="{{ url_for('static', filename='images/bday.jpg') }}"
      />
      <div class="popup" id="myPopup">
        <i id="notif" class="fa fa-bell" style="font-size: 48px; color: red"></i>
        <div id="popuptext">
          {% if notif() != None %} {% for n in notif() %}
          <div class="notifmsgs">
            <div>
              {{ n.username }}'s birthday is coming up on {{ n.birthday.strftime('%Y-%m-%d') }}
            </div>
            
          </div>
          {% endfor %}{% endif %}
          
        </div>
      </div>
    </nav>


    {% block content %} {% endblock %}
    <script>
      $(document).ready(function () {
        $("#myPopup").click(function () { 
          $("#popuptext").css("display", "contents");
        });
      });
    </script>
  </body>
</html>
