{% extends 'base.html' %} {% block content %}

<h1>Hello, {{ current_user.username }}!</h1>
<img id="profile-img" src="{{ user.profile_pic }}" onclick="upload()" />
<input type="file" name="profile-pic" />
<h1>{{ user.birthday }}</h1>
<h1>{{ user.username }}</h1>
<form action="" method="POST">
  {{ form.hidden_tag() }} {{ form.body }} {{ form.submit }}
</form>
{% for w in wishes %}
<div>
  <h6>{{ w.postsender.username }}</h6>
  <p>{{ w.body }}</p>
  <info>{{ w.timestamp }}</info>
</div>
{% endfor %}
<script>
  $(document).ready(function () {
    function upload() {
      $("#profile-img").click();
    }
  });
</script>
{% endblock %}
