{% extends 'base.html' %} {% block content %}
<section>
  <div class="user">
    
    <img id="profile-img" src="/static/profile-pics/{{user.profile_pic}}" />
    <form
      action="{{ url_for('profile', username=user.username) }}"
      enctype="multipart/form-data"
      method="POST"
      id="profile-pic-form"
    >
      <input type="file" name="profile-pic" id="profile-pic" />
      <input type="submit" value="Save" id="pic-submit" />
    </form>

    <div class="userinfo">
      <h1>{{ user.birthday }}</h1>
      <h1>{{ user.username }}</h1>
      <p>{{ f.follower_id }}</p>
    
      {% if current_user.is_following(user) %}
      <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
        <input type="submit" value="Unfollow">
      </form>
      {% else %}
      <form action="{{ url_for('follow', username=user.username) }}" method="post">
        <input type="submit" value="Follow">
      </form>
      {% endif %}
    </div>

    <div class="follow">
      <a href="{{ url_for('following', username=user.username) }}">Following</a>
      <a href="{{ url_for('followers', username=user.username) }}">Followers</a>
    </div>
  </div>

  <div class="wishes">
    <form action="" method="POST">
      {{ form.hidden_tag() }} {{ form.body }} {{ form.submit }}
    </form>
    {% for w in wishes %}
    <div>
      <h6>{{ w.postsender.username }}</h6>
      <p>{{ w.body }}</p>
      <info>{{ w.timestamp }}</info>
    </div>
    {% endfor %}
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#profile-img").on("click", function () {
      $("#profile-pic").click();
    });

    $("#profile-pic").on("change", function () {
      $("#profile-pic-form").submit();
    });

    console.log("{{ user.profile_pic}}");
  });
</script>
{% endblock %}
